@import "./variables";

body {
  font-family: "late", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}
.container {
  max-width: 1300px !important;
}
nav li:last-child a {
  background: $primary;

  &:hover {
    background: $primary-hover;
  }
}
nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}
section.hero {
  background: $secondary;
}

.size {
  background: $secondary;
}
.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
}
.btn-primary {
  background: $primary;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}
section.cart {
  background: $secondary;
  .amount {
    color: $primary;
  }
}
section.login {
  background: $secondary;
  min-height: calc(100vh - 86px);
  a.forget-password {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
}
